* {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   list-style-type: none;
}

.navbar {
  background: white;
  height: 90px;
  margin-bottom: 0px;

  .navbar-brand {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 4px;
    padding-left: 70px;
    padding-top: 38px;
    color: black;
  }
  .navbar-nav {
    font-weight: 300;
    font-size: 13px;
    padding-right: 70px;
    padding-top: 28px;
    letter-spacing: 2.75px;
  }
}

.bio {
  .widepic {
    height: 650px;
    padding-left: 50px;
  }
  .intro-self {
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 25px;
    padding-top: 140px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 80px;
  }
  .detail-self {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    padding-right: 65px;
    padding-left: 20px;
  }
}

.projectsection {
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;


  img {
    width: 525px;
  }
  .projectTitle {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
  }

  .projectDesc {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .projectTools {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1.25px;
  }
  .fa {
    font-size: 20px;
    padding-right: 10px;
    color: black;
  }
  .fa:hover {
    color: gray;
  }
}

footer {
  height: 650px;

  .hello {
    font-family: 'Source Code Pro';
    padding-top: 100px;
    padding-bottom: 40px;
  }

  i {
    padding-bottom: 20px;
  }
  .contactstuff {
    padding-top: 30px;
    color: gray;
    font-family: 'Source Code Pro';
  }
}
